################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Examplinvi.UniversalApp/obj/x86/Debug
/Examplinvi.Web/bin
/Examplinvi.Web/obj/Debug
/packages
/Testinvi/obj/Debug
/Tweetinvi/bin/Debug
/Tweetinvi/obj/Debug
/Tweetinvi.Core/bin/Debug
/Tweetinvi.Controllers/obj/Debug
/Tweetinvi.Controllers/bin/Debug
/Tweetinvi.Core/obj/Debug
/Tweetinvi.Credentials/bin/Debug
/Tweetinvi.Credentials/obj/Debug
/Tweetinvi.Factories/bin/Debug
/Tweetinvi.Factories/obj/Debug
/Tweetinvi.Logic/bin/Debug
/Tweetinvi.Logic/obj/Debug
/Tweetinvi.Security/bin/Debug
/Tweetinvi.Security/obj/Debug
/Tweetinvi.Streams/bin/Debug
/Tweetinvi.Streams/obj/Debug
/Tweetinvi.WebLogic/bin/Debug
/Tweetinvi.WebLogic/obj/Debug
/Examplinvi/bin/Debug
/Examplinvi/obj/Debug
/Testinvi/bin/Debug
