<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To get your Twitter credentials please read https://tweetinvi.codeplex.com/documentation -->
  <appSettings>
    <!-- Twitter Application 1 -->
    <add key="token_ConsumerKey" value="YOUR_APPLICATION_CONSUMER_KEY" />
    <add key="token_ConsumerSecret" value="YOUR_APPLICATION_CONSUMER_SECRET" />
    
    <!-- Test User 1 -->
    <add key="token_AccessToken" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN" />
    <add key="token_AccessTokenSecret" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN_SECRET" />
    <add key="token_UserScreenName" value="YOUR_TEST_ACCOUNT_SCREEN_NAME" />

    <!-- Twitter Application 2 -->
    <add key="token2_ConsumerKey" value="YOUR_APPLICATION_CONSUMER_KEY" />
    <add key="token2_ConsumerSecret" value="YOUR_APPLICATION_CONSUMER_SECRET" />
    
    <!-- Test User 2-->
    <add key="token2_AccessToken" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN" />
    <add key="token2_AccessTokenSecret" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN_SECRET" />
    <add key="token2_UserScreenName" value="YOUR_TEST_ACCOUNT_SCREEN_NAME" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
