<?xml version="1.0"?>
<configuration>
  <!-- To get your Twitter credentials please read https://tweetinvi.codeplex.com/documentation -->
  <appSettings>
    <!-- Twitter Application 1 -->
    <add key="token_ConsumerKey" value="YOUR_APPLICATION_CONSUMER_KEY"/>
    <add key="token_ConsumerSecret" value="YOUR_APPLICATION_CONSUMER_SECRET"/>
    
    <!-- Test User 1 -->
    <add key="token_AccessToken" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN"/>
    <add key="token_AccessTokenSecret" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN_SECRET"/>
    <add key="token_UserScreenName" value="YOUR_TEST_ACCOUNT_SCREEN_NAME"/>

    <!-- Twitter Application 2 -->
    <add key="token2_ConsumerKey" value="YOUR_APPLICATION_CONSUMER_KEY"/>
    <add key="token2_ConsumerSecret" value="YOUR_APPLICATION_CONSUMER_SECRET"/>
    
    <!-- Test User 2-->
    <add key="token2_AccessToken" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN"/>
    <add key="token2_AccessTokenSecret" value="YOUR_TEST_ACCOUNT_ACCESS_TOKEN_SECRET"/>
    <add key="token2_UserScreenName" value="YOUR_TEST_ACCOUNT_SCREEN_NAME"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>